body {
 
            margin: 0;
            padding: 0;
            background-image: url('background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            height: 100vh;
        }
        
html, body {
    height: 100%;
       
}

nav {
    background-color: #333;
    padding: 1em;
    text-align: center;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #222;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.technique {
    margin-bottom: 20px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}